
@media (max-width: 320px) {
  .homecare{
    background: #efe5db;
    height: 1000px;
  }

  .careRoutineImg1{
    margin-left: 35px;
    margin-top: 40px;
    width: 250px;
    height: 450px;
  }

  .rightCareRoutineImg2{
    margin: 20px 30px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  .careTitle{
    font-size: 25px;
    font-family: dancing script;
    margin: 10px 60px;
  }

  .careParagraph{
    font-size: 15px;
    margin-left: 15px;
  }
  .homecare-btnContainer{
    display: flex;
    justify-content: center;
  }
  .homeCareBtn{
    font-size: 18px;
    border: none;
    color: white;
    background: #cd825b;
    margin: 10px;
    padding: 6px 15px;
  }

  .homeCareBtn:hover{
    background: #000;
  }
}